{% extends "base.html" %}
{% block title %}pwnAD - Object Detail{% endblock %}
{% block breadcrumbs %}
<nav class="px-6 pt-4 pb-0 flex items-center gap-2 text-xs text-neutral-500">
    <a href="/" class="hover:text-white transition">Dashboard</a>
    <i class="fas fa-chevron-right text-[8px]"></i>
    <a href="/queries" class="hover:text-white transition">Queries</a>
    <i class="fas fa-chevron-right text-[8px]"></i>
    <span class="text-neutral-300 truncate max-w-xs">{{ obj.attributes.get('sAMAccountName', '') or obj.dn.split(',')[0] }}</span>
</nav>
{% endblock %}
{% block content %}
<div class="p-6 flex flex-col gap-4">
    {% include "partials/object_detail.html" %}
</div>
{% endblock %}
